.about {
  padding: 100px 80px 100px;
  background-color: #0a2850;
  color: #fff;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  gap: 120px;
}

.about__title {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
  font-size: 44px;
  line-height: 52px;
  font-weight: 500;
  z-index: 1;
  position: relative;
  max-width: 251px;
}

.about__content {
  font-family: "Noto Serif";
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
  font-style: normal;
  max-width: 660px;
  position: relative;
  z-index: 1;
  margin: 0;
  max-width: 660px;
  margin-top: 19px;
  margin-bottom: 73px;
}

.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  left: -129px;
  top: -152px;
  z-index: 0;
}

@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
}

.about__paragraph {
  margin: 0 0 20px;
}

.about__paragraph:last-child {
  margin-bottom: 0;
}
