.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: -50px;
}

.nav__links {
  list-style-type: none;
  padding: 0;
  display: flex;
  column-gap: 20px;
  margin: 0;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  line-height: 20px;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav__link:hover {
  color: #2f80ed;
  transition: color 0.3s ease;
}
